.container{
    margin: 0 auto;
    max-width: 1200px;
    box-sizing: border-box;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;

}
form input{
    width: 400px;
    height: 30px;
    padding-left: 20px;
    border-radius: 8px;
    border: 1px solid rgb(155, 155, 245);
    color: black;
}
form button{
    width: 420px;
    height: 30px;
    border-radius: 8px;
    border: 1px solid rgb(155, 155, 245);
    color: black;

}
form button:hover{
    background-color: blue;
    color: red;
}
h1{
    margin-left: 450px;
    margin-bottom: 100px;
}